/************************ PORTFOLIO *********************************/
.portfolio-wrapper {
    /* background: var(--primary-light-grey); */
    padding: 3rem 0;
    background: var(--primary-white);
  }
  
  .portfolio-wrapper h1 {
    color: var(--primary-standard-blue);
    font-weight: 900;
  }

  .portfolio-wrapper h5 {
    color: var(--primary-standard-blue);
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
  }

  .portfolio-techs p{
    color: var(--primary-standard-blue);
    font-weight: 700;
    text-align: left;
    padding-top: 1rem;
  }
  
  .portfolio-image {
    width: 33vh;
    height: 20vh;
    border-radius: 10px;
    padding: 0 0.5rem;
  }
  
  .portfolio-image-box {
    position: relative;
    margin: 1rem;
    box-shadow: 0 4px 20px #1fb8ff;
    border: 0px solid var(--primary-standard-blue);
    border-radius: 10px;
  }

  /*------------ OVERFLOW BOX ------------------*/
.overflow {
  position: absolute;
   opacity: 0;
   background: var(--primary-black);
   /* width: 15rem; */
   width: 100%;
   /* height: 9rem; */
   height: 100%;
   top: 0;
  border: 2px solid var(--primary-standard-blue);
  border-radius: 10px;

  cursor: pointer;
}

.portfolio-image-box:hover {
  /* opacity: 60% !important;
  transition: 0.3s ease-in-out !important; */

  transition:  .3s ease-in-out !important;
  transform: scale(1.05) !important;
  /* opacity: 75% !important; */
  font-size: 3rem;
  /* filter: opacity(70%); */
  background-color: var(--primary-transparent-black);

}

/* .portfolio-wrapper:hover h5 {
  color: var(--primary-red);
} */

.portfolio-image-box:hover .overflow {
  /* opacity: 60% !important;
  transition: 0.3s ease-in-out !important; */
  /* opacity: 75% !important; */
  filter: opacity(70%);
  transition:  .3s ease-in-out !important;
  transform: scale(1.05) !important;
}

.portfolio-icon {
  position: absolute;
  margin-left: 6.5rem;
  margin-top: -7.5rem;
  color: var(--primary-black);
  font-size: 3rem;
  filter: opacity(0%);
}

.portfolio-image-box:hover .portfolio-icon {
  filter: opacity(100%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.popupbox-wrapper{
  margin-top: 5rem;
}

.popupbox-content{
  width: 90vh !important;
}

/*------------ OVERFLOW BOX ------------------*/
.portfolio-image-popupbox {
  /* width: 45rem; */
  height: 40vh;
  width: 100%;
  align-items: center;
  /* padding: 0 6rem 0 0rem; */
}

.portfolio-video-popupbox {
  /* width: 45rem; */
  height: 40vh;
  width: 100%;
  align-items: center;
  border-radius: 1rem;
  /* padding: 0 6rem 0 0rem; */
}
/* @media(max-width: 768px){
  .popupbox-wrapper{
    width: 50%;
    height: 50%;
  }
} */

.hyper-link {
  cursor: pointer; 
  color: var(--primary-standard-blue);
}

.hyper-link:hover {
  color: var(--primary-red);
}

@media(max-width: 850px){

  .portfolio-wrapper h1 {
    font-size: 1.5rem;
    padding: 1rem !important;
    margin: 0;
  }

  .popupbox-content{
    width: 40vw;
    height: 75vh;
    
  }
  .portfolio-image-popupbox{
    /* height: 40vh; */
    width: 75vw;
    /* align-items: center; */
  }

  .hyper-link {
    font-size: 0.6rem;
  }

  .popupbox-content b{
    /* width: 70%; */
    width: 75vw;
    font-size: 0.6rem;
  }

  .popupbox-content p{
    /* width: 70%; */
    width: 75vw;
    font-size: 0.75rem;
  }
  /* .popupbox-titleBar{
    width: 75%;
    height: 75%;
  } */
}

@media(max-width: 590px){

  .popupbox-wrapper{
    height: 80%;
  }

  .popupbox-content{
    height: 80%;
  }
  
  .portfolio-image-popupbox{
    width: 70vw;
  }

  .popupbox-content p{
    width: 70vw;
    font-size: 0.7rem;
  }
  /* .popupbox-titleBar{
    width: 60vw;

  } */
}

  /* .vimeo-video {
    width: 100vw;
    height: 100vh;
  } */

  /* @media(max-width: 480px){
    .popupbox-content{
      width: 50%;
      height: 25vh;
    }
  
    .portfolio-image-popupbox{
      height: 40vh;
      width: 50%;
      align-items: center;
    }
  
    .popupbox-content p{
      width: 50%;
    
    }
  } */


