  /*-------- HEADER MAIN OFFER BUTTON ---------------*/
  /* .btn-main-offer {
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: var(--primary-black);
    background-color: var(--primary-white);
    margin: 2rem;
    opacity: 70%;
  }
  
  .btn-main-offer:hover {
    text-decoration: none;
    color: var(--primary-white);
    background: var(--primary-standard-blue);
    transition:  .2s ease-in-out;
    transform: scale(1.05);
    opacity: 100%;
  } */