/************************ EXPERIENCE *********************************/

.experience {
	padding: 0.7rem;
}

.experience-wrapper {
	position: relative;
	padding: 3.125rem 0;
	overflow: hidden;
}

.experience h1 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--primary-standard-blue);
}

.experience-wrapper::before {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	margin-left: -0.0625rem;
	width: 0.125rem;
	height: 100%;
	background: var(--primary-grey);
	z-index: 1;
}

.timeline-block {
	width: calc(50% + 0.5rem);
	display: flex;
	justify-content: space-between;
	clear: both;
}

.timeline-block-right {
	float: right;
}

.timeline-block-left {
	float: left;
	direction: rtl;
}

.marker {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0.3125rem solid var(--primary-dark);
	background: var(--primary-standard-blue);
	margin-top: 0.625rem;
	z-index: 1;
}

.timeline-content {
	width: 95%;
	padding: 0 0.9375rem;
	color: var(--primary-dark-grey);
	direction: ltr;
}

.timeline-content h3 {
	margin-top: 0.3125rem;
	color: var(--primary-standard-blue);
	font-weight: 900;
}

.timeline-content h4 {
	margin-top: 0.3125rem;
	/* color: var(--primary-skyblue); */
	font-weight: 700;
}

.timeline-content h5 {
	margin-top: 0.3125rem;
	/* color: var(--primary-skyblue); */
	font-weight: 500;
}

/************* MEDIA *************/

@media screen and (max-width: 768px) {
	.experience h1 {
		font-size: 1.5rem !important;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.timeline-content h3 {
		font-size: 1rem !important;
		font-weight: 900;
	}

	.timeline-content h4 {
		font-size: 0.9rem !important;
		font-weight: 700;
	}

	.timeline-content h5 {
		font-size: 0.8rem !important;
		font-weight: 500;
	}

	.timeline-content p {
		font-size: 0.7rem !important;
		font-weight: 500;
	}
}
