/************************ CONTACTS COMPONENT *********************************/
.contacts {
    background: var(--primary-black);
    padding: 3rem 0;
  }
  
  .contacts h1 {
    color: var(--primary-standard-blue);
    padding: 1.3rem 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .contacts p {
    color: var(--primary-light-grey);
    font-size: 1.2rem;
  }
  
  /*------------------ INPUTS -------------------------------*/
  .contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border-bottom: 0.125rem solid var(--primary-dark-grey);
    border-radius: 0;
    color: var(--primary-standard-blue);
    outline: 0 !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
  }
  
  .contacts .container {
    padding: 4rem 0;
  }
  
  .contacts input:focus, .contacts textarea:focus {
    background: transparent;
    color: var(--primary-standard-blue);
    border-bottom: 0.125rem solid var(--primary-dark-grey);
  }
  
  .contacts textarea {
    height: 12.2rem !important;
  }
  
  /* .contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    background: none;
    color: var(--primary-white);
    background: var(--primary-standard-blue);
  }
  
  .contact-btn:hover {
    color: var(--primary-black);
    background: var(--primary-white);
  } */

  .contact-btn {
    /* border: 1px solid var(--primary-red); */
    width: 100%;
    background: none;
    margin: .5rem 0 0 0;
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: var(--primary-white);
    background: var(--primary-standard-blue);
  }
  
  .contact-btn:hover {
    text-decoration: none;
    color: var(--primary-black);
    background: var(--primary-white);
    transition:  .2s ease-in-out;
    transform: scale(1.05);
  }
  
  .line {
    position: relative;
    top: -0.8rem;
    width: 0;
    height: 0.125rem;
    background: var(--primary-standard-blue);
    display: inline-block;
  }
  
  input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
  
  input.form-control {
    margin: -0.3rem 0;
  }
  
  textarea.form-control {
    margin: -0.3rem 0;
  }
  
  .error-message {
    color: var(--primary-white);
    background: var(--primary-hover-red);
    text-align: left;
  }
  
  .success-message {
    font-weight: 900;
    color: var(--primary-standard-blue);
  }
  
  /*---------------- MEDIA -----------------------*/
  @media(max-width: 768px) {

    .contacts h1 {
      font-size: 1.5rem;
    }

    .contacts p {
      font-size: 1rem;
    }

    .contacts {
      overflow-x: hidden;
    }
    
    .contacts .container {
      padding: 0 1rem;
    }
  
    .contacts p {
      padding: 0 0.4rem;
    }
  }